/*  input box, dropdown box */


.drop-box-shadow{
box-shadow: var(--dropdown-box-shadow);
}

  
.container{
    border: 1px solid var(--rect-border-color);
    border-radius:  var(--rect-border-radius);
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}
.logo-field-container{

    display: flex;
    align-items: center; 

    column-gap: var(--rect-gap);
    cursor: pointer;
    
}

.logo-field-container .logo{
    width:var(--logo-small);
}

.logo-field-container .field{
    border: none;
    outline: none;
    flex-grow: 1;
}

.dv1{
    padding: var(--rect-gap);
    display: flex;
    gap: var(--rect-gap);
    flex-direction: column;

}
.dv1 .title{
    font-size: var(--base-font-size);
}

.dv1 .topics{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: var(--description-font-size);
}

.dv2{
    padding: var(--rect-gap);
    display: flex;
    flex-direction: column;
    gap:var(--dropdown-v2-gap)
}

.dv2 .category{
    display: flex;
    gap:var(--rect-gap)
    
}

.dv2 .category .image{
    height:var(--dropdown-v2-image-height);
    border-radius:  var(--rect-border-radius);
}

.dv2 .category .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dv2 .category .text .title{
    font-size: var(--button-font-size);
}
.dv2 .category .text .subtitle{
    font-size: var(--description-font-size);
}
