/*  input box, dropdown box */


.container{
    display: inline;
    border: 1px solid var(--rect-border-color);
    border-radius:  var(--rect-border-radius);
    padding:var(--rect-gap);
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}
.logo-field-container{

    display: inline-flex;
    align-items: center; 

    column-gap: var(--rect-gap);
    cursor: pointer;
    
}
.logo-field-container .logo{
    width:var(--logo-small);
}
.logo-field-container .field{
    border: none;
    outline: none;
    flex-grow: 1;
}
