* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --black : rgba(15,15,15,1.00);
  --text-grey:rgba(84,84,84,1.00);
  --outline-grey:rgb(117, 117, 117);
  --purple:rgba(110,66,229,1.00);
  --bg-white:rgb(255, 255, 255);
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-normal:400;
  --font-bold:700;

  --base-font-size: 16px;
  --title-font-size: 36px;
  --subtitle-font-size: 28px;
  --button-font-size: 14px;
  --description-font-size: 12px;

  --medium-btn-bg-purple: rgba(110,66,229,0.1);
  --login-btn-bg-grey: rgb(117, 117, 117,0.1);
  --login-large-btn-padding: 13px 30px;
  --small-medium-btn-padding: 13px 20px;
  --medium-btn-height: 32px;
  --medium-btn-width: 80px;
  --small-btn-height: 32px;
  --small-btn-width: 52px;
  --large-btn-height: 48px;
  --large-btn-width: 504px;
  --btn-border: 1px;
  --btn-border-radius: 10px;

  --search-container-border-size:1px;
  --search-container-border-color:rgb(227,227,227);
  --search-container-border-radius:8px;
  --search-container-padding:12px;
  --search-container-width:300px;
  --search-container-gap:12px;
  --search-image-size:20px;

  --drop-box-shadow:0px 4px 12px rgba(15,15,15,0.08);
  --drop-box-container-border-size:1px;
  --drop-box-container-border-color:rgb(227,227,227);
  --drop-box-container-border-radius:8px;
  --drop-box-container-padding:12px;
  --drop-box-container-width:300px;
  --drop-box-container-gap:12px;
  --drop-box-elements-gap:4px;
  --drop-box-element-image-size:20px;
  --drop-box-element-paddingx:8px;
  --drop-box-element-paddingy:4px;
  --drop-box-element-gap:4px;
  --drop-box-category-gap:12px;
  --drop-box-category-image-size:72px;
  --drop-box-category-image-radius:8px;
}
