* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --black : rgba(15,15,15,1.00);
  --text-grey:rgba(84,84,84,1.00);
  --outline-grey:rgb(117, 117, 117);
  --purple:rgba(110,66,229,1.00);
  --bg-white:rgb(255, 255, 255);
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-normal:400;
  --font-bold:700;

  --base-font-size: 16px;
  --title-font-size: 36px;
  --subtitle-font-size: 28px;
  --button-font-size: 14px;
  --description-font-size: 12px;
}
