.Inside-Box{
    display: flex; 
    flex-direction: column;
    padding: var(--checkout-Least-padding); 
    padding-bottom: var(--checkout-padding-Bottom);
    margin-bottom: var(--checkout-Bottom-Margin);
}