.btn{
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    align-items: center;
    cursor: pointer;
    border-radius: var(--btn-border-radius);
    vertical-align: middle;
}

.login-btn {
    font-weight: var(--font-normal);
    display: inline-block;
    padding: var(--login-large-btn-padding);
    border: var(--btn-border) solid var(--outline-grey);
    color: var(--text-grey);
    background-color: var(--bg-white);
}

.login-btn:hover {
    background-color: var(--login-btn-bg-grey);
}



.large-btn{
    width: var(--large-btn-width);
    height: var(--large-btn-height);
    font-weight: var(--font-normal);
    padding: var(--login-large-btn-padding);
    font-size: var(--button-font-size);
    border: var(--btn-border) solid var(--outline-grey);
    color: var(--text-grey);
    background-color: var(--bg-white);
}

.large-btn:hover{
    background-color: var(--purple);
    color: var(--bg-white);
}

.medium-btn{
    height: var(--medium-btn-height);
    font-weight: var(--font-normal);
    padding: var(small-medium-btn-padding);
    font-size: var(--button-font-size);
    border: var(--btn-border) solid var(--purple);
    color: var(--purple);
    background-color: var(--medium-btn-bg-purple);
}

.small-btn{
    height: var(--small-btn-height);
    font-weight: var(--font-bold);
    padding: var(--small-medium-btn-padding);
    font-size: var(--button-font-size);
    border: var(--btn-border) solid var(--outline-grey);
    background-color: var(--bg-white);
}

.small-btn-non-bold{
    color: grey;
    height: var(--small-btn-height);
    border: var(--btn-border) solid var(--outline-grey);
    background-color: var(--bg-white);
    font-size: 0.8em;
}




