:root{
    --modal-container-width: 488px;
    --modal-container-height: 204px;
    --modal-container-padding: 16px;
    --modal-container-borderrad: 16px;
    --modal-cross-outer-margin: 12px 16px;
    --modal-cross-outer-width: 32px;
    --modal-cross-outer-height: 32px;
    --modal-cross-outer-bgcolor: rgba(255, 255, 255, 1.0);
    --modal-cross-outer-borderrad: 12px 16px;
    --modal-cross-width-height: 20px;
}

.modal-container{
    width: var(--modal-container-width);   
    height: var(--modal-container-height);
    padding: var(--modal-container-padding);
    display: flex;
}


.modal-cross-outer{
    margin: var(--modal-cross-outer-margin);
    width: var(--modal-cross-outer-width);
    height: var(--modal-cross-outer-height);
    float: right;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
}

.modal-cross{
    margin: var(--modal-cross-outer-margin);
    width: var(--modal-cross-width-height);
    height: var(--modal-cross-width-height);
    cursor: pointer;
}

.modal{
    float: right;
    background-color: var(--modal-cross-outer-bgcolor);
    border-radius: var(--modal-container-borderrad);
}
