.modal-horizontal-container{
    width: var(--modal-container-width);   
    height: var(--modal-container-height);
    padding: var(--modal-container-padding);
    display: flex;
    background-color: rosybrown;
}

.modal-vertical-container{
    width: 300px;   
    height: 400px;
    padding: var(--modal-container-padding);
    display: flex;
    flex-wrap: wrap;
    border-color: aqua;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

.modal-vertical-container ul{
    list-style-type: none;
}


.modal-cross-outer{
    margin: var(--modal-cross-outer-margin);
    width: var(--modal-cross-outer-width);
    height: var(--modal-cross-outer-height);
    float: right;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
}

.modal-cross{
    margin: var(--modal-cross-outer-margin);
    width: var(--modal-cross-width-height);
    height: var(--modal-cross-width-height);
    cursor: pointer;
}

.modal{
    float: right;
    background-color: var(--modal-cross-outer-bgcolor);
    border-radius: var(--modal-container-borderrad);
}