:root {
  --modal-container-width: 488px;
  --modal-container-height: 204px;
  --modal-container-padding: 16px;
  --modal-container-borderrad: 16px;
  --modal-cross-outer-margin: 12px 16px;
  --modal-cross-outer-width: 32px;
  --modal-cross-outer-height: 32px;
  --modal-cross-outer-bgcolor: rgba(0, 0, 0, 0.5);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-cross-outer-bgcolor);
  display: flex;
  justify-content: center;
  z-index: 1000;
  align-items: center;
}

.star-icons {
  display: flex;
  margin-bottom: 10px;
}

.star-icons span {
  cursor: pointer;
  font-size: 20px;
  margin-right: 5px;
}

.star-selected {
  color: gold;
}

.modal-cross-outer {
  display: flex;
  justify-content: flex-end;
  top: 0;
  right: 0;
}

.modal-cross {
  cursor: pointer;
  position: absolute;
  top: 12px;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 50%;
}

.modal2 {
  margin-top: auto;
  margin-bottom: auto;
  height: 350px;
  margin: var(--modal-cross-outer-margin);
  margin-top: 30px;
  width: var(--modal-container-width);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: var(--modal-container-padding);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: var(--modal-container-borderrad);
}

.image-div {
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  width: 50px; 
  height: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
}

.vendor-image {
  border-radius: 50%;
  width: 100%; 
  height: auto;
}

.content-container {
  border: 1px solid #e9eaec;
  border-radius: var(--modal-container-borderrad);
  padding: var(--modal-container-padding);
}

.content-container h3 {
  padding-top: 5px;
}

.content-container p {
  padding-top: 5px;
  color: #545454;
}

.date-section,
.time-section {
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.date-button {
  margin: 5px;
  padding: 15px 12px;
  width: 70px;
  background-color: #fff;
  border: 1px solid #e9eaec;
  border-radius: var(--modal-container-borderrad);
  cursor: pointer;
  font-size: 16px;
}

.date-button.selected {
  background-color: #cbb8ff;
  border: 1px solid #6e42e5;
}

.time-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.time-button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #e9eaec;
  border-radius: var(--modal-container-borderrad);
  cursor: pointer;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 30%;
  justify-content: center;
}

.time-button.selected {
  background-color: #cbb8ff;
  border: 1px solid #6e42e5;
}

.proceed-button {
  margin-top: auto;
  width: 100%;
  padding: 10px;
  background-color: #6e42e5;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 15px;
  font-size: 16px;
}

.proceed-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
