:root{
    --Least-padding: 1rem;
    --Next-L-padding: 2rem;
    --Button-width: 280px;
    --Average-width-percent: 50%;
    --Row-gap: 2rem;
    --Least-margin: 1rem;
    --MinHeight: 100vh;
    --Customized-box: 4px 6px rgba(15, 15, 15, 0.08);
}
body{
    font-family: var(--font-family);
    font-size: var(--base-font-size);
}
.CheckOut{
    display: grid;
    background-color: var(--bg-white);
    align-items: center;
    min-height: var(--MinHeight);
}
.CheckOut_Header{
    padding: var(--Least-padding);
    box-shadow: var(--Customized-box);
}
.CheckOut_box{
    display: flex;
    padding: var(--Least-padding);
    justify-content: space-between;
}

.CheckOut_main{
    display: flex;
    width: var(--Average-width-percent);
    flex-direction: column;
    margin: 0 auto;
    padding: var(--Next-L-padding);
    box-shadow: var(--drop-box-shadow);
    row-gap: var(--Row-gap);
}
.inner_CheckOut_box{
    margin-left: var(--Least-margin);
}
.small_button{
    display: grid;
    height: var(--medium-btn-height);
    width: var(--medium-btm-width);
    font-size: var(--button-font-size);
    padding: var(--small-medium-btn-padding);
    background-color: var(--bg-white) ;
    border-radius: var(--btn-border-radius);
    place-content: center center;
}
.CheckOut_box_Inactive{
    display: flex;
    flex-direction: column; 
}
.large_button{
    width: var(--Button-width);
    height: var(--large-btn-height);
    padding: var(----login-large-btn-padding);
    background-color: var(--purple);
    font-size: var(--button-font-size);
    color: var(--bg-white);
    font-weight: var(--font-bold);
    border-radius: var(--btn-border-radius);

}
.UpiBox{
    display: grid;
    padding: var(--Next-L-padding);
    margin: 0 auto;
    box-shadow: var(--drop-box-shadow);
    background-color: var(--bg-white);
}