.CheckOut-Main{
    width : 100%;
    min-height: 100vh;
    display: grid; 
     align-items: center;  
    background-color: var(--background-gray);
    color: var(--black);
    row-gap: var(--Row-gap);
    padding: var(--Next-L-padding);
    box-shadow: var(--drop-box-shadow);
  }